*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

nav{
    background-color: rgba(0,137,55,1);
}

nav ul li a.nav-link{
    font-size: 16px;
    font-weight: 600;

}

header{
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}


.banner-section{
    position: relative;
    background-image: url('../images/meal-plan-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-section h1{

    font-size: 40px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 25px;
    color: #fff;
}

.banner-section h1 span{
    color: rgb(12,85,86);
    font-size: 45px;
}

.banner-section p{
    color: rgb(12,85,86);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 25px;
}

.banner-section a{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: rgb(12,85,86);
    background-color: rgb(255, 187, 1);
    padding: 10px 15px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
}

.banner-section .jumbotron{
    background-color: rgb(255, 187, 1);
}

.banner-images{
    background-color: rgb(255, 187, 1);
    position: relative;
    padding: 30px 0;
    border-radius: 10% 0 40% 10%;
}

#banner-img-1{
    position: absolute;
    right: -12%;
    animation-name: slideRight;
    animation-duration: 2s;
}

#banner-img-3{
    position: absolute;
    left: -12%;
    bottom: 10%;
    animation-name: slideLeft;
    animation-duration: 2s;
}

#banner-img-2{
    animation: slideLeft;
    animation-duration: 2s;
}

.healthy-food-section{
    position: relative;
    padding: 60px 0;
    background-color: #ececec;
    color: rgb(12,85,86);
}

.healthy-food-section .healthy-food-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 187, 1);
    box-shadow: 10px 20px 20px 0px rgba(39, 57, 79, 0.53);
    padding: 25px 35px;
    border-radius: 5px;
}

.healthy-food-section .healthy-food-info.active{
    animation: slideLeft;
    animation-duration: 2s;
}

.healthy-food-section .health-food-app-img{
    width: 45vw;
}

.healthy-food-section .health-food-app-img.active{
    animation: slideRight;
    animation-duration: 2s;
}

.healthy-food-section .healthy-food-info h2{
    font-size: 26px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 25px;
}

.healthy-food-section .healthy-food-info ul li{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 40px;
}

.healthy-food-section .healthy-food-info ul li::before{
    content: " ";
    font: normal normal normal 10px/1 FontAwesome;
    color: #fff;
    background: rgb(12,85,86);
    font-size: 18px;
    width: 25px;
    height: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 2px;
}

.healthy-food-section .healthy-food-info ul li#save-money::before{
    content: "\f155";
}

.healthy-food-section .healthy-food-info ul li#save-time::before{
    content: "\f017";
}

.healthy-food-section .healthy-food-info ul li#healthy-choice::before{
    content: "\f2e7";
}

.healthy-food-section .healthy-food-info ul li#reduce-stress::before{
    content: "\f118";
}

.eat-healthy-section{
    position: relative;
    padding: 60px 0;
}

.eat-healthy-section h2{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.0;
    margin-bottom: 20px;
}

.eat-healthy-section .health-food-app-img{
    position: relative;
    opacity: 0;
    transition: all 2s ease;
}

.eat-healthy-section .healthy-food-info{
    position: relative;
    opacity: 0;
    transition: all 2s ease;
}

.eat-healthy-section .health-food-app-img.active{
    /*animation: fadeInAnimation;*/
    /*animation-duration: 2s;*/
    /*animation: fadeInAnimation ease 3s;*/
    /*animation-iteration-count: 1;*/
    opacity: 1;
}

.eat-healthy-section .healthy-food-info.active{
    /*opacity: 0;*/
    /*animation: fadeInAnimation;*/
    /*animation-duration: 2s;*/
    /*animation: fadeInAnimation ease 3s;*/
    /*animation-iteration-count: 1;*/
    opacity: 1;
}

.application-section{
    padding: 60px 0;
    background-color: #EBEEFF;
}

.application-section .app-img-div img{
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
}

.application-section .app-content-div h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
}

footer{
    position: relative;
    top: 60px;
    width: 100%;
}

footer p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(12,85,86);
    margin: 0;
}

footer .footer-section-content{
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 5px 0;
    background: rgba(0,137,55,1);
}

/* -- Login page -- */
.login-form-section{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 120px 0;
    background-color: #ececec;
    min-height: 100vh;
}

.login-form-section-content{
    position: relative;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 450px;
    width: 100%;
}

.form-section{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
}

#login-form{
    display: inline-block;
    max-width: 450px;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    width: 100%;
    padding: 25px;
}

.form-field{

}

.meal-type-section{
    position: relative;
    padding: 60px 0;
    background-color: #EBEEFF;
}

.meal-img-div{
    width: 100%;
    position: relative;
    height: 250px;
    border-radius: 4px;
}

.meal-img-div.breakfast-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('../images/breakfast.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.meal-img-div.lunch-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('../images/lunch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.meal-img-div.snack-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('../images/snack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.meal-img-div.dinner-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('../images/dinner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* .meal-img-div img{
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 4px;
} */

.meal-img-div p{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    background-color: #000;
    opacity: 80%;
    width: 100%;
    /* border-radius: 0 0 4px 4px; */
    transform: translate(0, -50%);
    text-align: center;
}

.health-goal-section{
    position: relative;
    padding: 60px 0;
    background-image: url('../images/select-program-background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.health-goal-section .health-goal-section-content h2.section-title{
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.health-goal-section .health-goal-section-content ul li{
    list-style-type: disclosure-closed;
    color: rgb(12,85,86);
    margin-left: 25px;
}

.health-goal-section .health-goal-section-content ul li p{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.20;
    margin-bottom: 8px;
    color: rgb(12,85,86);
}

.dietary-preferences-section{
    position: relative;
    padding: 60px 0;
}

.dietary-preferences-section .dietary-section-content img{
    width: 120px;
    height: 120px;
    transition: 2s;
    transform: scale(1.0);
}

.dietary-preferences-section .dietary-section-content img:hover{
    transform: scale(1.2);
    transition: 2s;
}

.dietary-preferences-section .dietary-section-content{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.dietary-preferences-section .dietary-section-content h2.section-title{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}

/* ----- */

.about-us-banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    /* background: linear-gradient(180deg,#030749,rgba(96, 33, 255, 0.592) 0%); */
    color: #fff;
    background-color: rgb(152, 198, 53);
    background-size: cover;
    background-position: center center;
    top: 66px;
}

.about-us-banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-we-work{
    position: relative;
    top: 60px;
    background-color: #ececec;
}

.activity-cards{
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 20px 30px;
    min-height: 215px;
    height: 100%;
    text-align: center;
}

.activity-cards h4{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 10px;
}

.additional-info{
    text-align: center;
    padding: 25px 0;
}

.about-login-button{
    display: inline-block;
    background-color: #FF7142;
    border-radius: 4px;
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    /* text-decoration: none; */
    outline: none;
}

.animate.active{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 2s linear forwards;
}

label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select{
    display: inline-block;
    width: 100%;
    background-color: #F5F5F5;
    padding: 5px 10px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    outline: none;
    /*cursor: pointer;*/
}

@keyframes slideRight{
    from{ transform: translateX(100%); }
}

@keyframes slideLeft{
    from{ transform: translateX(-100%); }
}

@keyframes fadeInAnimation{
    /* 0% {
        opacity: 0;
    } */

    100%{
        opacity: 1;
    }
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}