{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}
<section class="banner-section">
    <div class="banner-section-content animate">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-5">
                    <h1><span>Make Healthy Life</span><br> With Healthy Meal Plan</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos excepturi quas nam vel, quaerat accusantium, illo nemo repudiandae distinctio unde voluptatum nesciunt vero ex omnis obcaecati fugit illum autem eaque!</p>
                    <a href="">Get Started</a>
                </div>
                <div class="col-md-6">
                    <div class="banner-images">
                        <img class="w-25" id="banner-img-1" src="{% static 'images/lemon-1.png' %} " alt="">
                        <img class="w-100" id="banner-img-2" src="{%  static 'images/food-2.png' %}" alt="">
                        <img class="w-25" id="banner-img-3" src="{%  static 'images/tomat-leaf.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="healthy-food-section">
    <div class="healthy-food-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="health-food-app-img reveal">
                        <img src="{% static 'images/meal-plan-computer-phone.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="healthy-food-info reveal">
                        <h2>Achieve the following goals through <b>Meal Planner App</b></h2>
                        <ul>
                            <li id="save-money"><b>Save Money</b></li>
                            <li id="save-time"><b>Save Time</b></li>
                            <li id="healthy-choice"><b>Healthy Choices</b></li>
                            <li id="reduce-stress"><b>Reduce Stress</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="eat-healthy-section">
    <div class="eat-healthy-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="healthy-food-info reveal">
                        <h2>Learn How To Eat Healthy with Food Planner</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem natus consectetur doloribus animi nostrum dolores modi temporibus nam, aspernatur nulla suscipit minus, assumenda cupiditate aliquam consequatur voluptatem quaerat iste! Ullam?</p>
                    </div>
{#                    <button>Get Started</button>#}
                </div>
                <div class="col-lg-6">
                    <div class="health-food-app-img reveal">
                        <img src="{% static 'images/healthy-food-diagram-resize.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="application-section">
    <div class="application-section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="application-div">
                        <div class="app-img-div">
                            <img src="{% static 'images/Smartphone-Free-Download-PNG.png' %}" alt="">
                        </div>
                        <div class="app-content-div">
                            <h3>Mobile App</h3>
                            <p>Download the app! Make healthy meal choices during grocery or dining</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="application-div">
                        <div class="app-img-div">
                            <img src="{% static 'images/feat_smart_wearables.png' %}" alt="">
                        </div>
                        <div class="app-content-div">
                            <h3>Smart Wearable Device</h3>
                            <p>Download the app! Make healthy meal choices during grocery or dining</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="application-div">
                        <div class="app-img-div">
                            <img src="{% static 'images/alexa.png' %}" alt="">
                        </div>
                        <div class="app-content-div">
                            <h3>Smart AI Device</h3>
                            <p>Download the app! Make healthy meal choices during grocery or dining</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
