{% extends "dashboard.html" %}

{% block title %}{% endblock %}
{% block content %}
    <div class="main">
        <div class="topbar">
            <div class="toggle" onclick="toggleMenu();"></div>
            <div class="search">
                <label for="">
                    <i class="fas fa-search searchIcon"></i>
                    <input type="text" placeholder="Search Here...." name="" id="">
                </label>
                <div class="user">
                    <img src="images/avatar.png" alt="">
                </div>
            </div>
        </div>
        <div class="cardBox">
        </div>
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <!-- <h2>Enter Your Details</h2> -->
                    <!-- <a href="#" class="btn">View All</a> -->
                </div>
                <div class="cardBody">
                    <form action="{% url 'personalInfo' %}" method="post" id="aboutUser">
                        {% csrf_token %}
                        <div class="header-field">
                            <h2>Hello {{ user.username }}</h2>
                            <p>Please enter your personal details and your Health Goals</p>
                            <br>
                        </div>
                        <div class="form-field">
                            <label for="userage">Age</label>
                            <input type="number" name="userage" id="user_age" required>
                        </div>
                        <div class="form-field">
                            <label for="usergender">Gender</label>
                            <select name="usergender" id="user_gender">
                                <option value="" hidden>-</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="pysical-activiy">Enter Your Physical Activity</label>
                            <select name="physical-activity" id="physical-activity">
                                <option value="" hidden>-</option>
                                <option value="1">Less than 30 min/day of moderate activity.</option>
                                <option value="2">30 min/day of moderate activity.</option>
                                <option value="3">More than 60 min/day of moderate activity.</option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="dietary-preferences">Do You Have Any Dietary Preferences? If So Please Enter One
                                Of The Following</label>
                            <select name="dietary-preferences" id="dietary-preferences">
                                <option value="0" hidden>-</option>
                                <option value="1">Vegan</option>
                                <option value="2">Paleo</option>
                                <option value="3">Lactose Intolerance</option>
                                <option value="4">Raw Food</option>
                                <option value="5">Dairy-free</option>
                                <option value="6">Vegetarian</option>
                                <option value="7">Pescatarian</option>
                                <option value="8">Keto</option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="health-goals">What is your Health Goal?</label>
                            <select name="health-goals" id="health-goals">
                                <option value="0" hidden>-</option>
                                <option value="1">Maintaining Healthy Weight</option>
                                <option value="2">Lowering The Risk Of Heart Diseases</option>
                                <option value="3">Blood Sugar Control</option>
                                <option value="4">Promoting a healthy digestive system and preventing issues like
                                    constipation
                                </option>
                                <option value="5">Building and maintaining strong bones.</option>
                                <option value="6">Supporting muscle growth and strength.</option>
                                <option value="7">Preventing Cancer</option>
                                <option value="8">Stress Reductiona and Enhancing Mood</option>
                                <option value="9">Boosting Energy</option>
                                <option value="10">Loss Weight</option>
                                <option value="11">Improving Sleep Quality and Duration</option>
                                <option value="12">Imporving Physical Performance</option>
                                <option value="13">Improving the Immune System</option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="height">Height</label>
                            <input type="number" name="height" id="user_height" required>
                        </div>
                        <div class="form-field">
                            <label for="weight">Weight</label>
                            <input type="number" name="weight" id="user_weight" required>
                        </div>
{#                        <div class="form-field">#}
{#                            <label for="ideaWeight">Idea Weight</label>#}
{#                            <input type="number" name="ideaWeight" id="user_ideaweight" required>#}
{#                        </div>#}
                        <div class="form-field">
                            <input type="submit" value="Submit" id="health-info-submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

        let personalInfo = [];
        let aboutUser = document.getElementById('aboutUser');

        function insertPersonalInfo() {

            userAge = document.getElementById('user_age').value;
            userGender = document.getElementById('user_gender').value;
            userPhysicalActivity = document.getElementById('physical-activity').value;
            userDietaryPreference = document.getElementById('dietary-preferences').value;
            userHealthGoal = document.getElementById('health-goals').value;

            personalInfo.push(userAge, userGender, userPhysicalActivity, userDietaryPreference, userHealthGoal);

            console.log(personalInfo);

            localStorage.setItem('user_information', JSON.stringify(personalInfo));
        }


        aboutUser.addEventListener('submit', insertPersonalInfo);

        function toggleMenu() {
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');

            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
    <script src="main.js"></script>

{% endblock content %}
