{% extends "dashboard.html" %}

{% block title %}{% endblock %}
{% block content %}
    <div class="main">
        <div class="topbar">
            <div class="toggle" onclick="toggleMenu();"></div>
            <div class="search">
{#                <label for="">#}
{#                    <i class="fas fa-search searchIcon"></i>#}
{#                    <input type="text" placeholder="Search Here...." name="" id="">#}
{#                </label>#}
                <div class="user">
                    <img src="images/avatar.png" alt="">
                </div>
            </div>
        </div>
        <div class="cardBox">
        </div>
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <!-- <h2>Enter Your Details</h2> -->
                    <!-- <a href="#" class="btn">View All</a> -->
                </div>
                <div class="cardBody">
                    <form action="{% url 'personalInfo' %}" method="POST" id="aboutUser">
                        {% csrf_token %}
                        <div class="header-field">
                            <h2>Hello {{ user.username }}</h2>
                            <p>Please enter your personal details and your Health Goals</p>
                            <br>
                        </div>
                        <div class="form-field">
                            <label for="userage">Age</label>
                            <input type="number" name="userage" id="user_age" required value="{{ user.age }}">
                        </div>
                        <div class="form-field">
                            <label for="user_gender">Gender</label>
                            <select name="usergender" id="user_gender">
                                <option value="male" {% if user.gender == "male" %}selected{% endif %}>Male
                                </option>
                                <option value="female" {% if user.gender == "female" %}selected{% endif %}>
                                    Female
                                </option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="physical-activity">Enter Your Physical Activity</label>
                            <select name="physical-activity" id="physical-activity">
                                <option value="" hidden>-</option>
                                <option value="1" {% if user.physical_activity == "1" %}selected{% endif %}>Less than 30
                                    min/day of moderate activity.
                                </option>
                                <option value="2" {% if user.physical_activity == "2" %}selected{% endif %}>30 min/day
                                    of moderate activity.
                                </option>
                                <option value="3" {% if user.physical_activity == "3" %}selected{% endif %}>More than 60
                                    min/day of moderate activity.
                                </option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="dietary-preferences">Do You Have Any Dietary Preferences? If So Please Enter One
                                Of The Following</label>
                            <select name="dietary-preferences" id="dietary-preferences">
                                <option value="0" hidden>-</option>
                                <option value="1" {% if user.dietary_preferences == "1" %}selected{% endif %}>Vegan
                                </option>
                                <option value="2" {% if user.dietary_preferences == "2" %}selected{% endif %}>Paleo
                                </option>
                                <option value="3" {% if user.dietary_preferences == "3" %}selected{% endif %}>Lactose
                                    Intolerance
                                </option>
                                <option value="4" {% if user.dietary_preferences == "4" %}selected{% endif %}>Raw Food
                                </option>
                                <option value="5" {% if user.dietary_preferences == "5" %}selected{% endif %}>
                                    Dairy-free
                                </option>
                                <option value="6" {% if user.dietary_preferences == "6" %}selected{% endif %}>
                                    Vegetarian
                                </option>
                                <option value="7" {% if user.dietary_preferences == "7" %}selected{% endif %}>
                                    Pescatarian
                                </option>
                                <option value="8" {% if user.dietary_preferences == "8" %}selected{% endif %}>Keto
                                </option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="health-goals">What is your Health Goal?</label>
                            <select name="health-goals" id="health-goals">
                                <option value="" hidden>-</option>
                                <option value="1" {% if user.health_goals == "1" %}selected{% endif %}>Maintaining
                                    Healthy Weight
                                </option>
{#                                <option value="2" {% if user.health_goals == "2" %}selected{% endif %}>Lowering The Risk#}
{#                                    Of Heart Diseases#}
{#                                </option>#}
{#                                <option value="3" {% if user.health_goals == "3" %}selected{% endif %}>Blood Sugar#}
{#                                    Control#}
{#                                </option>#}
{#                                <option value="4" {% if user.health_goals == "4" %}selected{% endif %}>Promoting a#}
{#                                    healthy digestive system and preventing issues like constipation#}
{#                                </option>#}
                                <option value="5" {% if user.health_goals == "5" %}selected{% endif %}>Building and
                                    maintaining strong bones.
                                </option>
                                <option value="6" {% if user.health_goals == "6" %}selected{% endif %}>Supporting muscle
                                    growth and strength.
                                </option>
{#                                <option value="7" {% if user.health_goals == "7" %}selected{% endif %}>Preventing#}
{#                                    Cancer#}
{#                                </option>#}
                                <option value="8" {% if user.health_goals == "8" %}selected{% endif %}>Stress Reduction
                                    and Enhancing Mood
                                </option>
{#                                <option value="9" {% if user.health_goals == "9" %}selected{% endif %}>Boosting Energy#}
{#                                </option>#}
                                <option value="10" {% if user.health_goals == "10" %}selected{% endif %}>Losing Weight
                                </option>
{#                                <option value="11" {% if user.health_goals == "11" %}selected{% endif %}>Improving Sleep#}
{#                                    Quality and Duration#}
{#                                </option>#}
                                <option value="12" {% if user.health_goals == "12" %}selected{% endif %}>Improving
                                    Physical Performance
                                </option>
{#                                <option value="13" {% if user.health_goals == "13" %}selected{% endif %}>Improving the#}
{#                                    Immune System#}
{#                                </option>#}
                            </select>
                        </div>

                        <div class="form-field">
                            <label for="height">Height</label>
                            <input type="number" name="height" id="user_height" required value="{{ user.height }}">
                        </div>
                        <div class="form-field">
                            <label for="weight">Weight</label>
                            <input type="number" name="weight" id="user_weight" required value="{{ user.weight }}">
                        </div>
                        {#                        <div class="form-field">#}
                        {#                            <label for="ideaWeight">Idea Weight</label>#}
                        {#                            <input type="number" name="ideaWeight" id="user_ideaweight" required>#}
                        {#                        </div>#}
                        <div class="form-field">
                            <input type="submit" value="Generate Your Food Recommendation" id="health-info-submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

        let personalInfo = [];
        let aboutUser = document.getElementById('aboutUser');

        function insertPersonalInfo() {

            userAge = document.getElementById('user_age').value;
            userGender = document.getElementById('user_gender').value;
            userPhysicalActivity = document.getElementById('physical-activity').value;
            userDietaryPreference = document.getElementById('dietary-preferences').value;
            userHealthGoal = document.getElementById('health-goals').value;

            personalInfo.push(userAge, userGender, userPhysicalActivity, userDietaryPreference, userHealthGoal);

            console.log(personalInfo);

            localStorage.setItem('user_information', JSON.stringify(personalInfo));
        }


        aboutUser.addEventListener('submit', insertPersonalInfo);

        function toggleMenu() {
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');

            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
    <script src="main.js"></script>

{% endblock content %}
